@media only screen and (min-width: 600px){
    .resume{
    display:flex;
    flex-direction: column;
    float:left;
    width:100%;
    height: 800px;
    
    box-sizing:border-box;
}
.myheader{
    display:block;
    float:left;
    width:100%;
    height:200px;
    
    box-sizing: border-box;
}
.left{
    display:block;
    float:left;
    width:50%;
    height:200px;
    
    box-sizing: border-box;

}
.right{
    display:block;
    float:right;
    width:30%;
    height:200px;
    text-align: right;
    box-sizing: border-box;

}
.middle{
    display:block;
    float:left;
    width:20%;
    height:200px;
    
    box-sizing: border-box;
}
.middle img{
    border-radius: 99999px;
    
}
.myheader1{
    display:block;
    float:left;
    width:100%;
    height:510px;
    
    box-sizing: border-box;
}
.left1{
    display:block;
    float:left;
    width:50%;
    height:510px;
    
    box-sizing: border-box;

}
.right1{
    display:block;
    float:right;
    width:40%;
    height:510px;
    
    box-sizing: border-box;
    text-align: left;
}
.checked{
    color: rgb(62, 126, 247);
}

.container{
    
    float:right;
}
ul {
    list-style-type: none;
}
@keyframes animation {
    from {background: linear-gradient(to bottom,#c51df881 0%,#2d3275);}
    to {background: linear-gradient(to bottom,#3681be81 0%,#7134aa);}
  }
.resume{
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
}
@media only screen and (max-width: 600px){
    .resume{
        display:block;
        flex-direction: column;
        width:100%;
        height: 100%;
        
        box-sizing:border-box;
    }
    .myheader{
        display:block;
        width:100%;
        height:50%;
        
        box-sizing: border-box;
    }
    
    .left{
        display:block;
        width:100%;
        
        
        box-sizing: border-box;
        text-align: center;
    
    }
    .right{
        display:block;
        
        width:100%;
        text-align: center;
        
        box-sizing: border-box;
    
    }
    .middle{
        display:block;
        
        width:100%;
        
        box-sizing: border-box;
        
    }
    .middle img{
        border-radius: 99999px;
        display: block;
        margin-left: auto;
        margin-right: auto;
  
    }
    .myheader1{
        display:block;
        
        width:100%;
        height: 70%;
        
        box-sizing: border-box;
    }

 
    .left1{
        display:block;
        
        width:100%;
        
        
        box-sizing: border-box;
    
    }
    .right1{
        display:block;
        
        width:100%;
        
        
        box-sizing: border-box;
        text-align: left;
    }
    .checked{
        color: rgb(150, 51, 84);
    }
    
    .container{
        
        float:right;
    }
    ul {
        list-style-type: none;
    }
    } 
